body {
  background: radial-gradient(#ffffff, #759cff);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 900px;
  height: 100px;
  background: linear-gradient(to right, #5a5786, #021a5e);
  border-radius: 25px;
}
.items-menu {
  margin: 0;
  height: 100%;
  display: flex;
  align-items: center;
}
span {
  font-size: 18px;
  transition: font-size 0.1s;
}

span:hover {
  font-size: 22px;
}
.items-menu > li {
  color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px;
  border-radius: 50px;
  width: 60px;
  height: 60px;
  background-color: #172b5e;
  transition: width 0.2s, height 0.2s;
  position: relative;
  z-index: 10;
}

.items-menu > li:hover {
  width: 70px;
  height: 70px;
}
a {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.profile {
  display: flex;
  align-items: center;
  justify-content: center;
}

span {
  margin-right: 30px;
  color: white;
}
.profile > a > img {
  margin-right: 25px;
  border-radius: 50px;
}
